---
Checks: >
  -*,
  boost-*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -altera-*,
  -boost-use-ranges,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -fuchsia-*,
  -hicpp-signed-bitwise,
  -llvm-qualified-auto,
  -llvmlibc-*,
  -misc-include-cleaner,
  -misc-misplaced-const,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,
  -modernize-use-designated-initializers,
  -modernize-use-ranges,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -performance-no-int-to-ptr,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-qualified-auto
...
